<h1>All Articles</h1>
<ul id="articles">
	<% @articles.each do |article| %>
	<li>
		<h2><%= link_to article.title, article_path(article), class: 'article_title' %></h2>
		<p><%= article.body %> 
		</p>
		<p>
			Created at: <%= article.created_at %>
		</p>
		<p>
			<%= link_to "delete", article_path(article), data: {confirm: "Are you sure?"}, method: :delete %>
		</p>

	</li>
	<% end %>
	<h3>Aktualna godzina to: <%= Time.now %> </h3>
</ul>
 <%=  link_to "Create new article", new_article_path, class: 'new_article'  %>