<section class="articles">
	<h2>All Articles</h2>
<!-- last article -->
	<div class="last_article">
		<h3>
			<%= link_to @last_article.title, article_path(@last_article) %>
		</h3>
		<p>
			<%= @last_article.body %>
		</p>
		<p>
			<% if @last_article.image.exists? %>
				<%= image_tag @last_article.image.url(:thumb) %>
			<% end %>
		</p>
		<h5>
			Created at: <%= @last_article.created_at.strftime("%H:%M:%S, %d-%m-%y") %>
		</h5>
		<% if logged_in? %>
			<h6>
				<%= link_to "delete", article_path(@last_article), data: {confirm: "Are you sure?"}, method: :delete %>
			</h6>
		<% end %>
	</div>

<!-- remaining articles -->
	<div class="remaining">
		<% @articles.reverse.drop(1).each do |article| %>
			<div class="remain">
				<h3>
					<%= link_to article.title, article_path(article), class: 'article_title' %>
				</h3>
				<p>
					<%= article.body %>
				</p>
				<p>
					<% if article.image.exists? %>
						<%= image_tag article.image.url(:thumb) %>
					<% end %>
				</p>
				<h5>
					Created at: <%= article.created_at.strftime("%H:%M:%S, %d-%m-%y") %>
				</h5>
				<% if logged_in? %>
					<h6>
						<%= link_to "delete", article_path(article), data: {confirm: "Are you sure?"}, method: :delete %>
					</h6>
				<% end %>


			</div>
		<% end %>
	</div>
					
</section>
<h4>Aktualna godzina to:
	<%= Time.now.strftime("%H:%M:%S, %d-%m-%y") %>
</h4>
<% if logged_in? %>
	<%=  link_to "Create new article", new_article_path, class: 'new_article'  %>
<% end %>