
<section class="articles">
<!-- last article -->
	<div class="last_article">
		<% if @last_article.image.exists? %>
		<div class='bg-image-diff' style="background-image: url(<%= @last_article.image.url %>)"></div>
		<% else %>
		<div class='bg-image'></div>
		<% end %>
		<div class="art-content">
			<h3>
				<%= link_to @last_article.title, article_path(@last_article) %>
			</h3>
			<h6>
				Created at: <%= @last_article.created_at.strftime("%d-%m-%y") %>
			</h6>
			<% if logged_in? %>
				<h6>
					<%= link_to "delete", article_path(@last_article), data: {confirm: "Are you sure?"}, method: :delete %>
				</h6>
			<% end %>
		</div>
</div>

<!-- remaining articles -->
	<% @articles.reverse.drop(1).each do |article| %>
		<div class="remain">
				<% if article.image.exists? %>
					<div class='bg-image-diff' style="background-image: url(<%= article.image.url %>)"></div>
				<% else %>
					<div class='bg-image'></div>
				<% end %>
			<div class="art-content">
				<h3>
					<%= link_to article.title, article_path(article), class: 'article_title' %>
				</h3>
				<h6>
					Created at: <%= article.created_at.strftime("%d-%m-%y") %>
				</h6>
				<% if logged_in? %>
					<h6>
						<%= link_to "delete", article_path(article), data: {confirm: "Are you sure?"}, method: :delete %>
					</h6>
				
			<% end %>
		</div>

		</div>
	<% end %>
					
</section>
<h4>Aktualna godzina to:
	<%= Time.now.strftime("%H:%M:%S, %d-%m-%y") %>
</h4>
<% if logged_in? %>
	<%=  link_to "Create new article", new_article_path, class: 'new_article'  %>
<% end %>