<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<p><%= link_to "Back to articles", articles_path %></p>
<p><%= render partial: 'comments/form' %></p>
<p><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Edit", edit_article_path(@article) %></p>
<br>
<br>
<br>
<% if @article.comments.size == 0 %>
	<h3>No comments yet</h3>
<% else %>
	<h3>Comments(<%= @article.comments.size %>)</h3>
<% end %>
<%= render partial: 'articles/comment', collection: @article.comments %>