      <ul>
        <li>
          <%= link_to "Strona główna", root_path %>
        </li>
        <li>
          <%= link_to "Articles", articles_path %>
        </li>
        <li>
          <%= link_to "Tags", tags_path %>
        </li>
        <li>
          <%= link_to "Authors", authors_path %>
        </li>
        <li>
          <%= link_to "About Me", about_path %>
        </li>
      </ul>