<!DOCTYPE html>
<html>

<head>
  <title>Blogger</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="wrapper">
    <!-- nav -->
    <nav class="nav-main">
      <%= render partial: "layouts/nav" %>
    </nav>
    <% if logged_in? %>
      Zalogowany jako:
      <span class="bold">
        <%= "#{current_user.username}" %> 
      </span>
        <% end %>

  <!-- login button -->
  
    <div class="login">
      <%= render partial: "layouts/login" %>
    </div>

    <p class="flash">
      <%= flash.notice %>
    </p>
    <%= yield %>
      <p>

        <% unless current_page?(root_path) %>
          <h6>
            <%= link_to "Back to articles", root_path %>
          </h6>
          <% end %>

      </p>
  </div>
</body>

</html>