<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="login">
        <% if logged_in? %>
        <ul>
          <li>
           Zalogowany jako <span class="bold"> <%= "#{current_user.username}" %> </span>
         </li>
         <li>
          <%= link_to "Logout", logout_path %>
          </li>
       </ul>
         <% else %>
         <ul>
           <li>
              Niezalogowany
            </li>
           <li> 
            Please <%= link_to "Login", login_path %>
            </li>
         </ul>
       <% end %>
     </div>

     <header>
      <h1 id="logo">BLOG</h1>
      <div class="transparent">
      </div>

    </header>
    <nav>
      <ul>
        <li><%= link_to "Strona główna", root_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
        <li><%= link_to "Authors", authors_path %></li>
      </ul>
    </nav>

    
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>

    <p>

      <% unless current_page?(root_path) %>
      <h6><%= link_to "Back to articles", root_path %></h6>
      <% end %>

    </p>
  </div>
</body>
</html>
