<!DOCTYPE html>
<html>

<head>
  <title>Blogger</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="wrapper">
  <!-- login button -->
    <div class="login">
      <%= render partial: "layouts/login" %>
    </div>
<!-- header -->
    <header>
      <h1 id="logo">BLOG</h1>
      
    </header>
<!-- nav -->
    <nav class="nav-main">
      <%= render partial: "layouts/nav" %>
    </nav>

    <p class="flash">
      <%= flash.notice %>
    </p>
    <%= yield %>
      <p>

        <% unless current_page?(root_path) %>
          <h6>
            <%= link_to "Back to articles", root_path %>
          </h6>
          <% end %>

      </p>
  </div>
</body>

</html>